.Main {
  border: 2px solid black;
  margin: 20px;
  width: 200px;
  text-align: center;
  position: relative;
  margin: auto;
  margin-top: 200px;
  padding: 20px;
  border-radius: 5px;
  *{
    margin: 8px;
    margin-bottom: 20px;
  }
}