.Signup {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  text-align: center;
  form {
    input {
      margin-top: 10px;
    }
    button {
      margin-top: 20px;
    }
    display: flex;
    flex-direction: column;
    width: 300px;
  }
}
